@model CreditaNelas.Models.Postagens

@{
    ViewData["Title"] = "Details";
}


<section class="details-body">
    <div class="container">
        <h4 class="text-center">Seu Projeto</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id_Usuario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id_Usuario)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Whatsapp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Whatsapp)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
        </dl>
    </div>
</section>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id_Postagem">Editar</a>
    <a asp-action="Index">Voltar para lista</a>
</div>
