@model IEnumerable<CreditaNelas.Models.Postagens>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-borderless text-center">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
	    <th>
                @Html.DisplayNameFor(model => model.UrlImagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Whatsapp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
	    <td>
                <img src="@Html.DisplayFor(modelItem => item.UrlImagem)" alt="" style="width: 250px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Whatsapp)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id_Postagem">Ver Detalhes</a> |
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id_Postagem">
                    <i class="fas fa-pencil-alt"></i>
                </a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_Postagem">
                    <i class="fas fa-times"></i>
                </a>
            </td>
        </tr>
}                    
    </tbody>
</table>