@model CreditaNelas.Models.Usuarios

@{
    ViewBag.Title = "Cadastrar";
}

<h2></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   <section class="register-body">
       <div class="register-container col-md-4">
           <form class="register-form">
               <div class="mb-5">
                   <img src="~/img/Logo_5A2F43.png" width="280" alt="logo" />
               </div>
               <div class="form-group">
                   @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                   @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
               </div>
               <div class="form-group">
                   @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                   @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
               </div>
               <div class="form-group">
                   @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                   @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
               </div>
               <div class="form-group">
                   @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
                   @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
               </div>
               <div class="form-group">
                   @Html.LabelFor(model => model.ConfirmacaoSenha, htmlAttributes: new { @class = "control-label" })
                   @Html.EditorFor(model => model.ConfirmacaoSenha, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.ConfirmacaoSenha, "", new { @class = "text-danger" })
               </div>
                   <input type="submit" value="Cadastrar" class="btn mt-4 btn-custom btn-block text-uppercase" />
           </form>
       </div>
   </section>
}

@section scripts {
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
