@model CreditaNelas.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2></h2>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensagem"]
    </div>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
   <section class="login-body">
        <div class="login-container col-md-4">
            <form class="login-form">
                <div class="col-md-6">
                    <img src="~/img/logo.png" width="240" alt="logo" />
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UrlRetorno)
                <div class="form-group mt-4">
                     @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                     @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                     @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
                     @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>
                     <input type="submit" value="Entrar" class="btn mt-4 btn-custom btn-block btn-lg" />
            </form>
        </div>
    </section>
}

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
}

